.poke-details-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-index-pokename {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.types-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.attacks-moves {
  text-align: center;
}

.details-poke-img {
  filter: drop-shadow(9px 9px 5px black);
}
