@font-face {
  font-family: Roboto;
  src: url("../../public/fonts/Roboto-Medium.ttf");
}

.type-h1 {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 23px;
  color: #ffcb05;
  -webkit-text-stroke: 1px #2c72b8;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 900;
}
.type-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 0 0 184px;
}

/* siehe Pokemondetails.css */
.type-grid-item {
  padding: 9.5px 0px 9.5px 0px;
  width: 120px;
  font-size: 0.875rem;
  font-weight: 900;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: Roboto;
  text-transform: uppercase;
}
.type-search-button {
  text-transform: uppercase;
  color: #2c72b8;
  background-color: #ffcb05;
  font-size: 1.5rem;
  border: 5px solid #2c72b8;
  border-radius: 10px;
  font-weight: 900;
  padding: 12px 45px 12px 45px;
  /* margin: 0 25%; */
  /* margin: 0; */
  grid-column: span 2;
  /* width: 194px; */

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.bug {
  background-color: #3bb900;
  color: white;
}

.bug:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: rgb(0, 0, 0);
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(190, 200, 177, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(
      336deg,
      rgba(98, 255, 179, 0.8),
      rgba(239, 255, 63, 0) 70.71%
    );
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color2 {
  background-color: #1c1c1c;
  color: white;
}

.color2:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: black;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(190, 200, 177, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(
      336deg,
      rgba(164, 167, 166, 0.8),
      rgba(239, 255, 63, 0) 70.71%
    );
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}

.color3 {
  background-color: #00458a;
  color: white;
}

.color3:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: black;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color4 {
  background-color: #ffe600;
  color: white;
}
.color4:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: yellow;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color5 {
  background-color: #ffc2f9;
  color: white;
}
.color5:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: pink;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color6 {
  background-color: #e40000;
  color: white;
}
.color6:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: red;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color7 {
  background-color: #ff9900;
  color: white;
}
.color7:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #ff9900;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color8 {
  background-color: #ccdadd;
  color: white;
}
.color8:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: black;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color9 {
  background-color: #5a1e64;
  color: white;
}
.color9:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #5a1e64;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color10 {
  background-color: #57921c;
  color: white;
}
.color10:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #57921c;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color11 {
  background-color: #965a00;
  color: white;
}
.color11:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #965a00;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color12 {
  background-color: #6ad2ff;
  color: white;
}
.color12:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #6ad2ff;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color13 {
  background-color: #b3b3b3;
  color: white;
}
.color13:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #b3b3b3;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color14 {
  background-color: #70df00;
  color: white;
}
.color14:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #70df00;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color15 {
  background-color: #ab00ae;
  color: white;
}
.color15:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #ab00ae;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color16 {
  background-color: #ff81f2;
  color: white;
}
.color16:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #ff81f2;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color17 {
  background-color: #e1b237;
  color: white;
}
.color17:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #e1b237;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color18 {
  background-color: #2a4950;
  color: white;
}
.color18:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #2a4950;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
.color19 {
  background-color: #00a0e4;
  color: white;
}

.color19:hover {
  background-color: #14240d;
  box-shadow: 3px 3px 3px grey;
  color: #00a0e4;
  transition: all 1.5s;
  background: linear-gradient(
      217deg,
      rgba(63, 99, 255, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(149, 176, 149, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(2, 69, 47, 0.8), rgba(45, 102, 224, 0) 70.71%);
  transform: scale(1.125, 1.25) translate(5px, 5px);
  cursor: pointer;
}
